<%= @tweet.content %>
<form class="" action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="submit" name="delete_tweet" value="Delete Tweet">
</form>
<br></br>
<form class="" action="/tweets/<%=@tweet.id%>/edit" method="post">
  <input type="submit" name="edit_tweet" value="Edit Tweet">
</form>