    <h1>Sign up for Fwitter</h1>
    <form action="/signup" method="post">
      <label>Username:</label>
      <input type="text" name="username" value="">
      <br></br>
      <label>Email:</label>
      <input type="text" name="email" value="">
      <br></br>
      <label>Password:</label>
      <input type="text" name="password" value="">
      <br></br>
      <input type="submit" name="submit" value="Sign Up">
    </form>