<h2>Sign Up Below:</h2>

<form method='post' action='/signup'>
  Name<input type='text' id='username' name='user[username]'>
  Email<input type='text' id='email' name='user[email]'>
  Password<input type='text' id='password' name='user[password]'>
  <input type='submit' value='Sign Up' id='submit'>
</form>